<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit product</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<main>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mx-auto">
                <form th:object="${product}" th:action="@{/product/}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit product information</h4>
                            <div class="card-text form-group">
                                <label for="nameInputField">Name: </label>
                                <input type="text" id="nameInputField" class="form-control" th:field="*{name}"/>
                            </div>
                            <div class="card-text form-group">
                                <label for="descriptionInputField">Description: </label>
                                <textarea id="descriptionInputField" class="form-control" th:field="*{description}"></textarea>
                            </div>
                            <div class="card-text form-group">
                                <label for="priceInputField">Price: </label>
                                <input type="number" id="priceInputField" step="0.01" class="form-control" th:field="*{price}"/>
                            </div>
                            <div class="card-text form-group">
                                <label for="quantityInputLabel">Quantity: </label>
                                <input type="number" id="quantityInputLabel" class="form-control" th:field="*{stock}"/>
                            </div>
                            <div class="card-text pb-4">
                                <label class="control-label">Image: </label>
                                <input id="imageFile" name="imageFile" type="file" class="file" th:field="*{image}" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:insert="fragments/general.html :: footer"></footer>
</body>
</html>