<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:fragment="header" class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            <img src="/images/Logo.png" width="30" height="30" alt="Logo">
        </a>
        <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{'/index'}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{'/product/showAll'}">Catalog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropDown">
                        <a th:if="${#request.userPrincipal}" th:href="@{'/user/edit'}" class="dropdown-item" >Edit account</a>
                        <a th:if="!${#request.userPrincipal}" th:href="@{'/registration'}" class="text-decoration-none">
                            <button class="dropdown-item">Register</button>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a th:if="${#request.userPrincipal}" th:href="@{'/logout'}" class="text-decoration-none">
                            <button class="dropdown-item">Log out</button>
                        </a>
                        <a th:if="!${#request.userPrincipal}" th:href="@{'/login'}" class="text-decoration-none">
                            <button class="dropdown-item">Log in</button>
                        </a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 pr-4" th:action="@{/product/search}" method="get">
                <input class="form-control mr-sm-2" id="searchBar" type="search" aria-label="Search" placeholder="Product name" th:name="productName"/>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <a th:if="${#request.userPrincipal}" th:href="${'/shoppingCart/view'}"
               class="nav-item pr-1 text-white text-decoration-none" href="#" >
                Cart
            </a>
            <a th:if="${#request.userPrincipal}" th:href="${'/shoppingCart/view'}" class="nav-item pr-2" href="#">
                <img src="/images/ShoppingCart.png" width="30" height="30" alt="Logo">
            </a>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="footer mt-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h5 class="text-white pt-2">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">About us</a></li>
                    <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white pt-2">Social</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="text-decoration-none text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="#" class="text-decoration-none text-white">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="text-white pt-2">Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white">Contact</a></li>
                    <li><a href="#" class="text-decoration-none text-white">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>