<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="product" type="com.ecommerce.spring5onlineshop.model.Product"*/-->
<main th:header="productList">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Products:</h4>
                        <div class="card-text">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(products)}">
                                <table class="table table-hover ">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            Name</th>
                                        <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            Update</th>
                                        <th th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            Delete</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="product : ${products}">
                                        <td>
                                            <a class="text-decoration-none text-dark"
                                               th:href="@{'/product/' + ${product.id} + '/show'}"
                                               th:text="${product.name}">Product name
                                            </a>
                                        </td>
                                        <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            <a href="#" th:href="@{'/product/' + ${product.id} + '/update'}">Update</a>
                                        </td>
                                        <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                                            <a href="#" th:href="@{'/product/' + ${product.id} + '/delete'}">Delete</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="card-footer text-right">
                        <a href="/product/new" class="btn btn-primary">Add product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>