<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online shop</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
<header th:include="fragments/general.html :: header"></header>
<main>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-2"></div>
            <div class="col-md-8 my-auto">
                <h1>A few clicks is all it takes. Shopping made easy.</h1>
                <a class="btn btn-outline-light" th:href="@{'/product/showAll'}" href="#">Start shopping</a>
            </div>
        </div>
    </div>
</main>
<footer th:include="fragments/general.html :: footer"></footer>
</body>
</html>