<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Online shop home</title>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" />
</head>
<body>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Products:</h4>
                </div>
                <div class="card-text">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(products)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tr th:each="product : ${products}">
                                <td>
                                    <a th:href="@{'/product/' + ${product.id} + '/show'}" th:text="${product.id}">ID</a>
                                </td>
                                <td th:text="${product.name}">Product name</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>